<!DOCTYPE html>
<html>
<head>
    <title>Steam Party Run</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="{{staticUrl "/critical.css"}}" />
    <script>
        window.config = JSON.parse('{{{ configJSON }}}');
    </script>
</head>
<body>
    <div class="wrapper">
        <h1 class="title">Steam Party Run</h1>
        <section class="description">
            <p>Steam Party Run helps you finding unexpected gems in your games collection to play together with friends.</p>
            <p>You just gather your party (but beware! all profiles must have public games list) and browse only those multiplayer games you all have in your library.</p>
        </section>
        <div id="app"></div>
        <footer class="footer">
            <section class="attributions">
                <p><a href="https://thenounproject.com/search/?q=lock&i=51178">Lock</a> by Vasil Enchev from the Noun Project</p>
                <p><a href="https://thenounproject.com/search/?q=hoodie&i=217165">Hoodie</a> by Olivier Guin from the Noun Project</p>
            </section>
        </footer>
    </div>
    <script src="{{staticUrl "/app/index.js"}}"></script>
</body>
